################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Waywo.DbSchema/v15/Server/sqlite3
